@import "../../assets/Def.scss";

.edit-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem 1.25rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 0;

  &.full {
    grid-column: span 2;
  }
}

.label {
  font-size: 0.9375rem;
  color: #101010;
  line-height: 1.3;
  font-weight: 600;
}

.control {
  height: 2.5rem;
  padding: 0 0.75rem;
  border-radius: 0.375rem;

  background: #FFFFFF;
  color: $global-color-deep-dark;

  border: 0.0625rem solid $global-color-low-dark-lighten-20;

  font-size: 0.875rem;
  line-height: 1.35;

  &:focus {
    border-color: $global-color-low-light;
    box-shadow: 0 0 0 0.1875rem $global-color-deep-light;
  }
}
