.layout {
  display: flex;          /* 가로로 나란히 */
  min-height: 100vh;
}

.content {
  flex: 1;                /* 남은 영역 전부 사용 */
  background: #f9fafb;    /* 확인용 배경 */

  padding: 24px 28px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}