.modal-overlay {
  position: fixed;
  inset: 0;
  background: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal {
  background: #FFFFFF;
  border-radius: 0.8rem;
  box-shadow: 0 0 1rem #00000020;
  overflow: hidden;
}

.modal-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;

  padding: 1rem 1.25rem;
  border-bottom: 1px solid #CDCDCD;
}

.modal-title {
  font-size: 1.25rem;
}

.modal-icon {
  width: 1.375rem;
  height: 1.375rem;
}

.modal-stretch {
  flex-grow: 1;
}

.modal-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 1rem 1.25rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 1rem 1.25rem;
  border-top: 1px solid #CDCDCD;
}
