@import "../Def.scss";

.board-container {
  height: 100%;

  .board-search-box {
    display: flex;
    max-width: 30rem;
    margin-bottom: 2rem;
    height: 3rem;

    input {
      width: 100%;
      padding: 0 1rem;
      font-size: 1rem;
      border: 0.1rem solid #d1d3e2;
      border-radius: 0.4rem 0 0 0.4rem;
      background-color: #ffffff;
      color: $global-color-deep-dark;
    }

    button {
      width: 4rem;
      font-size: 1.2rem;
      background: $global-color-low-dark;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 0 0.4rem 0.4rem 0;
      align-items: center;
      display: flex;
      justify-content: center;

        img {
          width: 2rem;
          align-items: center;
          display: flex;
          justify-content: center;
        }
    }
  }

  .board-title {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .board-card {
    height: 100%;
    background: white;
    padding: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    .board-header {
      margin-bottom: 1rem;

      .board-card-title {
        font-size: 2.5rem;
        margin-left: 1.5rem;
        margin-bottom: 0;
      }

      .btn-primary {
        background: $global-color-low-dark;
        color: #fff;
        padding: 0.7rem 1.4rem;
        border-radius: 0.5rem;
        font-weight: bold;
        white-space: nowrap;
      }
    }

    .board-table {
      width: 100%;
      border-collapse: collapse;
      font-size: 1rem;
      text-align: center;
      table-layout: auto;

      th {
        background: #2563eb;
        padding: 1rem;
        color: $global-color-deep-light;
        font-weight: bold;
        border-bottom: 0.15rem solid #e3e6f0;
        white-space: nowrap;
      }

      td {
        padding: 1rem;
        border-left: 0.0625rem solid #d1d3e2;
        border-right: 0.0625rem solid #d1d3e2;
        border-bottom: 0.1rem solid #e3e6f0;
        white-space: nowrap;
      }

      tr:hover {
        background: #f1f3f7;
      }

      .col-flex {
        width: 80%;
        white-space: normal;
      }

      th, td{
        min-width: 6rem;
        white-space: nowrap;
        text-align: center;
        border-left: 0.0625rem solid #d1d3e2;
        border-right: 0.0625rem solid #d1d3e2;
      }
    }
  }

  /* 반응형 */
  @media (max-width: 1024px) {
    .board-card {
      .board-table {
        .first,
        .last {
          min-width: 7rem;
        }

        th,
        td {
          padding: 1.5rem;
        }
      }
    }
  }
}

.board-empty {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  color: #9ca3af;
  font-weight: 500;
}