@import "../Def.scss";

$label-colors: (
        navy:   (#0A2540, #0A25401A),
        blue:   (#0D6EFD, #0D6EFD1A),
        sky:    (#4DABF7, #4DABF71A),
        cyan:   (#0DCAF0, #0DCAF01A),
        mint:   (#5ED1C6, #5ED1C61A),
        green:  (#198754, #1987541A),
        olive:  (#827717, #8277171A),
        yellow: (#FFC107, #FFC10726),
        amber:  (#FFB300, #FFB30026),
        orange: (#FD7E14, #FD7E141A),
        red:    (#DC3545, #DC35451A),
        wine:   (#7B1E3A, #7B1E3A1A),
        pink:   (#D63384, #D633841A),
        purple: (#6F42C1, #6F42C11A),
        brown:  (#795548, #7955481A),
        slate:    (#495057, #4950571A),
        gray:     (#6C757D, #6C757D1A),
        charcoal: (#343A40, #343A401A),
        dark:     (#212529, #2125291A)
);

.tag-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.125rem 0.375rem;
  border-radius: 0.375rem;

  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.2;

  white-space: nowrap;

  color: #495057;
  border: 0.0625rem solid #495057;
  background-color: #E9ECEF;
}

@each $name, $colors in $label-colors {
  .tag-label.#{$name} {
    border-color: nth($colors, 1);
    color: nth($colors, 1);
    background-color: nth($colors, 2);
  }
}