@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&display=swap');

@import "./common/Filter.scss";

* {
  box-sizing: border-box;
  font-family: "Asta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Pretendard', sans-serif;
  margin-block: 0;
  margin-inline: 0;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  border: none;
  font: inherit;
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  outline: none;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

h1, h2, h3, h4, h5, h6,p {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
}

img {
  -webkit-user-drag: none;
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style-type: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

$global-color-deep-dark : #1B262C;

$global-color-low-dark : #0F4C75;
$global-color-low-dark-lighten-10 : color.adjust($global-color-low-dark, $lightness: 10%);
$global-color-low-dark-lighten-20 : color.adjust($global-color-low-dark, $lightness: 20%);

$global-color-low-light : #3282B8;

$global-color-deep-light : #BBE1FA;